# Bot token
# https://discord.com/developers/applications
DISCORD_TOKEN=token

# Bot owner ID
# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID
DISCORD_OWNER_ID=12345
