# --- Discord ---
# https://discord.com/developers/applications
# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID
DISCORD_TOKEN=token
DISCORD_OWNER_ID=12345
DISCORD_NOTIFICATION_CHANNEL_ID=12345

# --- Proxmox ---
PROXMOX_URL=https://proxmox.example.com:8006
PROXMOX_NODE=pve
PROXMOX_USER=username@realm
PROXMOX_TOKEN_ID=token_id
PROXMOX_TOKEN_SECRET=token_secret

# --- Pterodactyl---
PTERODACTYL_URL=https://ptero.example.com
PTERODACTYL_API_KEY=api_key
PTERODACTYL_SERVER_ID=server_id

# --- DTEK ---
TIMEZONE="Europe/Kyiv"
DTEK_REGION=kem  # kem, krem, dnem, dem, oem
DTEK_CITY="м. Київ"
DTEK_STREET="вул. Хрещатик"
DTEK_HOUSE="32/Б"
