# --- Discord ---
# https://discord.com/developers/applications
# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID
DISCORD_TOKEN=token
DISCORD_OWNER_ID=12345
